In [2]:
from nsetools import Nse
nse = Nse()
print (nse)

Driver Class for National Stock Exchange (NSE)

In [3]:
q = nse.get_quote('infy')
print (q)

{'pricebandupper': 879.35, 'symbol': 'INFY', 'applicableMargin': 12.5, 'bcEndDate': '15-JUN-19', 'totalSellQuantity': 1230641.0, 'adhocMargin': None, 'companyName': 'Infosys Limited', 'marketType': 'N', 'exDate': '13-JUN-19', 'bcStartDate': '15-JUN-19', 'css_status_desc': 'Listed', 'dayHigh': 801.3, 'basePrice': 799.45, 'securityVar': 5.08, 'pricebandlower': 719.55, 'sellQuantity5': 361.0, 'sellQuantity4': 6.0, 'sellQuantity3': 110.0, 'cm_adj_high_dt': '23-JUL-19', 'sellQuantity2': 2.0, 'dayLow': 792.35, 'sellQuantity1': 3.0, 'quantityTraded': 2376663.0, 'pChange': '-0.27', 'totalTradedValue': 20032.58, 'deliveryToTradedQuantity': 50.89, 'totalBuyQuantity': 435596.0, 'averagePrice': 797.11, 'indexVar': None, 'cm_ffm': 303620.83, 'purpose': 'ANNUAL GENERAL MEETING/DIVIDEND- RS 10.50 PER SHARE', 'buyPrice2': 797.15, 'secDate': '22-Aug-2019 13:00:00', 'buyPrice1': 797.2, 'high52': 804.0, 'previousClose': 799.45, 'ndEndDate': None, 'low52': 599.85, 'buyPrice4': 797.05, 'buyPrice3': 797.1, 'recordDate': None, 'deliveryQuantity': 1209386.0, 'buyPrice5': 797.0, 'priceBand': 'No Band', 'extremeLossMargin': 5.0, 'cm_adj_low_dt': '26-NOV-18', 'varMargin': 7.5, 'sellPrice1': 797.3, 'sellPrice2': 797.35, 'totalTradedVolume': 2513151.0, 'sellPrice3': 797.4, 'sellPrice4': 797.45, 'sellPrice5': 797.5, 'change': '-2.15', 'surv_indicator': None, 'ndStartDate': None, 'buyQuantity4': 752.0, 'isExDateFlag': False, 'buyQuantity3': 102.0, 'buyQuantity2': 463.0, 'buyQuantity1': 1.0, 'series': 'EQ', 'faceValue': 5.0, 'buyQuantity5': 849.0, 'closePrice': 0.0, 'open': 799.9, 'isinCode': 'INE009A01021', 'lastPrice': 797.3}

In [6]:
from datetime import date
from nsepy import get_history
infy = get_history(symbol='INFY',
                   start=date(2019,8,12),
                   end=date(2019,8,23))

In [7]:
infy

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2019-08-13,INFY,EQ,789.85,784.15,786.00,760.15,764.00,764.75,772.53,7517099,5.807217e+14,161749,4223553,0.5619
2019-08-14,INFY,EQ,764.75,775.10,778.25,768.00,772.80,774.80,773.33,5940968,4.594358e+14,154633,3539708,0.5958
2019-08-16,INFY,EQ,774.80,780.00,780.05,762.50,775.00,774.55,772.37,5128088,3.960776e+14,125413,2822446,0.5504
2019-08-19,INFY,EQ,774.55,775.60,783.00,773.35,778.00,777.65,779.02,3881451,3.023717e+14,107402,1930708,0.4974
2019-08-20,INFY,EQ,777.65,785.20,798.00,783.85,792.50,792.75,793.28,8435344,6.691567e+14,140808,4388051,0.5202
2019-08-21,INFY,EQ,792.75,793.00,803.75,793.00,799.25,799.45,799.47,5926896,4.738350e+14,154752,3200340,0.5400